<section class="flex justify-between">
    <p class="list-title flex gap-x-2 items-center">
        <input type="text" [(ngModel)]="listTitle">
    </p>
    <wi-button color="primary">
        Share
        <wi-icon icon="share"></wi-icon>
    </wi-button>
</section>
<section class="wish-list" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)">
    <section
        *ngFor="let wish of wishs"
        cdkDrag
        class="wish my-2 flex items-baseline gap-4 bg-white p-4 rounded-md shadow-sm hover:shadow-md w-full">
        <div class="grip">
            <wi-icon icon="menu-dots-vertical"></wi-icon>
        </div>
        <div class="flex-1">
            {{wish.title}}
        </div>
        <div class="flex-1">
            {{wish.price | currency:'EUR'}}
        </div>
        <ng-container *ngIf="wish.gifter; else takeRef">
            <wi-button [disabled]="true">Taken</wi-button>
        </ng-container>
        <ng-template #takeRef>
            <wi-button color="primary">Take it</wi-button>
        </ng-template>
    </section>
    <section
        [formGroup]="form"
        class="wish my-2 flex items-baseline gap-4 bg-white p-4 rounded-md shadow-sm hover:shadow-md w-full">
        <div class="flex-1">
            <input #title placeholder="Item name*" required formControlName="title">
        </div>
        <div class="flex-1">
            <input #price placeholder="Price" type="number" formControlName="price">
        </div>
        <wi-button (click)="add(title.value, price.value)">Add</wi-button>
    </section>
</section>