<section>
    <p class="list-title flex gap-x-2 items-center">
        <span>Untitled list</span>
        <wi-icon icon="pencil"></wi-icon>
    </p>
</section>
<section>
    <section class="my-2 flex items-baseline gap-4 bg-white p-4 rounded-md shadow-sm hover:shadow-md w-full">
        <div class="grip">
            <wi-icon icon="menu-dots-vertical"></wi-icon>
        </div>
        <div class="flex-1">
            PlayStation 5
        </div>
        <div class="flex-1">
            {{500 | currency:'EUR'}}
        </div>
        <wi-button color="primary">I take it</wi-button>
    </section>
    <section class="my-2 flex items-baseline gap-4 bg-white p-4 rounded-md shadow-sm hover:shadow-md w-full">
        <div class="grip">
            <wi-icon icon="menu-dots-vertical"></wi-icon>
        </div>
        <div class="flex-1">
            Maillot de l'équipe de France
        </div>
        <div class="flex-1">
            {{89.99 | currency:'EUR'}}
        </div>
        <wi-button [disabled]="true">Taken</wi-button>
    </section>
</section>