@import '../colors';

:host {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

header {
    background-color: $primary;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px;

    h1 {
        color: $light;
        cursor: pointer;
    }
}

main {
    display: flex;
    background-color: $background;
    flex: 1;
    padding: 50px;
}